{% extends 'base.html.twig' %}

{% block title %}Bibliotheque NVS{% endblock %}

{% block body %}

        <div class="container container-home">
            <div class='container'>
                <h1>Notre catalogue de livres </h1> 
                    
                    <h2>Liste des livres</h2>
            
                <table class="table">
                    <tbody>
                        {# <div class="row">
                            {% for book in books %}
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ book.image }}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ book.titre }}</h5>
                                        <p class="card-text">{{ book.auteur }}</p>
                                        <p class="card-text">{{ book.isbn }} Thunes</p>
                                        <p class="card-text">Stock: {{ book.stock }}</p>
                                        <a href="#" class="btn btn-primary">faire un emprunt</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div> #}
                </table>
            </div>
        
        </div>
        </tbody>
        {% endblock %}