{% extends 'base.html.twig' %}

{% block title %}S'incrire{% endblock %}

{% block body %}
<div class="container containerForm">
    <div class="loginForm">
        
        <h1>Enregistrez vous</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm.email, {'attr':{'class':'form form-control mt-3','placeholder': "email"}}) }}
                                                        
            {{ form_widget(registrationForm.firstname, {'attr':{'class':'form form-control mt-3','placeholder': "prénom"}}) }} 
                                                                                                     
            {{ form_widget(registrationForm.lastname, {'attr':{'class':'form form-control mt-3','placeholder': "nom de famille"}}) }}
                                                            
            {{ form_widget(registrationForm.plainPassword, {'attr':{'class':'form form-control mt-3 mb-3','placeholder': "mot de passe"}}) }}
                                                                
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-lg btn-primary">S'enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
