{# templates/book/_form.html.twig #}

{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.auteur) }}

    {# {{ form_row(form.description) }} #}

    {{ form_row(form.isbn) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.image) }}
    {{ form_row(form.category) }}

    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}