{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <div class="container containerForm">
        <div class="form">
            <h1>Book index</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Categorie</th>
                        <th>Isbn</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.titre }}</td>
                        <td>{{ book.auteur }}</td>
                        <td>{{ book.category.categorie }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.image }}</td>
                        <td>
                            <a href="{{ path('app_book_show', {'id': book.id}) }}"  class="btn btn-primary">show</a>
                            <a href="{{ path('app_book_edit', {'id': book.id}) }}"  class="btn btn-secondary">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Pas de livre trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_book_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}