{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="container containerForm">
        <div class="form">
            <h1>Book</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ book.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ book.titre }}</td>
                    </tr>
                    <tr>
                        <th>Auteur</th>
                        <td>{{ book.auteur }}</td>
                    </tr>
                    <tr>
                        <th>Isbn</th>
                        <td>{{ book.isbn }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ path('app_book_index') }}"  class="btn btn-primary">Revenir à la liste</a>

            <a href="{{ path('app_book_edit', {'id': book.id}) }}"  class="btn btn-secondary">Modifier</a>

            {{ include('book/_delete_form.html.twig') }}
        </div>
    </div>
    
{% endblock %}
