{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="container containerForm">
        <div class="form">
            <h1><h1>Détails du livre: {{ book.titre }}</h1></h1>

            <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    {# <th>Description du produit</th> #}
                    <th>Isbn</th>
                    <th>Stock</th>
                    
                </tr>
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.titre }}</td>
                    {# <td>{{ book.description }}</td> #}
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.stock }}</td>
                </tr>
                
            </tbody>
        </table>
            <a href="{{ path('app_book_admin_index') }}"  class="btn btn-primary">Revenir à la liste</a>

            <a href="{{ path('app_book_edit', {'id': book.id}) }}"  class="btn btn-secondary">Modifier</a>

            {{ include('book/_delete_form.html.twig') }}
        </div>
    </div>
    
{% endblock %}
