{% extends 'base.html.twig' %}

{% block title %}Emprunt index{% endblock %}

{% block body %}
    <div class="container containerForm">
        <div class="form">
            <h1>Emprunt index</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date Emprunt</th>
                        <th>Date Retour</th>
                        <th>Livre</th>
                        <th>Status</th>
                        <th>Utilisateur (ID)</th>
                        <th>Nom & Prénom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {# Début de la boucle #}
                {% for emprunt in emprunts %}
                    <tr>
                        <td>{{ emprunt.id }}</td>
                        <td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date('Y-m-d H:i') : '' }}</td>
                        <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('Y-m-d H:i') : '' }}</td>
                        {# On remet dans l'ordre des colonnes : Livre puis Status #}
                        <td>{{ emprunt.book.id }}</td>
                        {# <td>{{ emprunt.book.titre|default('Sans titre') }}</td> #}
                        <td>{{ emprunt.status }}</td>
                        <td>{{ emprunt.user.id }}</td>
                        {# <td>{{ emprunt.user.firstname }} {{ emprunt.user.lastname }}</td> #}
                        
                        <td>
                            <a href="{{ path('app_emprunt_show', {'id': emprunt.id}) }}" class="btn btn-primary">Visualiser</a>
                            <a href="{{ path('app_emprunt_edit', {'id': emprunt.id}) }}" class="btn btn-secondary">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    {# Ce bloc s'affiche uniquement si la liste 'emprunts' est vide #}
                    <tr>
                        <td colspan="8">Pas d'emprunt trouvé</td>
                    </tr>
                {% endfor %} {# On ferme le FOR ici #}
                </tbody>
            </table>

            <a href="{{ path('app_emprunt_new') }}" class="btn btn-success">Créer un nouvel emprunt</a>
        </div>
    </div>
{% endblock %}